@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #000000;
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(64, 64, 64, 1) 47%, rgba(219, 219, 219, 1) 100%);
  color: #000;
  letter-spacing: 1px;
  background-image: radial-gradient(#e5e5e5 2px, transparent 2px);
  background-size: 20px 20px;
}

header {
  text-align: center;
  padding: 20px;
  background: #000000;
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgb(206, 206, 206) 50%, rgba(0, 0, 0, 1) 100%);
  color: rgb(0, 0, 0);
}

header h1 {
  margin: 0;
  font-size: 2em;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 4px; 
  font-weight: 700;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 15px 0;
  background: #000000;
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgb(206, 206, 206) 50%, rgba(0, 0, 0, 1) 100%);
  border-bottom: 1px solid #000;
    
}

nav a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 1.1em;
  transition: color 0.3s;
}

nav a:hover {
  color: #797979;
}

main {
  padding: 20px;
}

.category {
  margin-bottom: 40px;
}

.category h1 {
  font-size: 1.8em;
  margin-bottom: 20px;
  border-bottom: 2px solid #000;
  padding-bottom: 10px;
}

.products {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  width: 200px;
  height: 250px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  border: 1px solid #000;
}

.product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.product:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.bestseller{
  text-align: center;
}

.main-footer {
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 60px 0 40px 0;
  font-family: 'Inter', sans-serif; 
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
  padding: 0 20px;
}

.footer-col {
  flex: 1;
  min-width: 200px;
  margin-bottom: 30px;
}

.footer-col h3 {
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 25px;
  font-weight: 800;
  letter-spacing: 1px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 12px;
}

.footer-col ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  opacity: 0.8;
  transition: opacity 0.3s;
}



.social-icons {
  margin-top: 40px;
  display: flex;
  gap: 15px;
}

.social-icons img {
  width: 100px;
  height: 100%;
  filter: invert(1);
  transition: transform 0.3s;
}

.social-icons a:hover img {
  transform: scale(1.1);
}

.footer-col p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 15px;
  opacity: 0.9;
}
.brand-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}
.email {
  margin-top: 15px !important;
  color: #fff !important;
  opacity: 0.8;
}
.footer-logo {
  width: 200px;
  filter: invert(1);
  margin-bottom: 20px;
}