
body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.catalog h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 30px;
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
}

.category-link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.category-item {
    width: 150px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    border: 2px solid #000;
}

.category-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

.category-item p {
    margin: 0;
    font-weight: bold;
    font-size: 1em;
}
.category-item:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgb(0, 0, 0);
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    45deg,
    #000 0,
    #000 2px,
    transparent 2px,
    transparent 20px
  );
  opacity: 0.05; 
  z-index: -1;
  animation: wave 3s linear infinite;
}
@keyframes wave {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100px 0;
  }
}
footer{
    margin-top: auto;
}